body
{
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(230, 230, 230);
	background-repeat: cover;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
}

.clear
{
	clear: both;
}

.content
{
	width:85%;
	margin: 0px 1em;
	overflow:hidden;
}

#header
{
	background-image: linear-gradient(72deg, rgb(120, 150, 120), rgb(50, 50, 50), rgb(20, 60, 20));
}

#header img
{
	border-radius: 75%;
	border: 5px rgb(90, 90, 90) solid;
	width: 86px;
	display: block;
	float: left;
}

#header h1
{
	color: #fff;
	padding-left: 120px;
	padding-top: 15px;
}

#navigation
{
	background-image: linear-gradient(90deg, rgb(40, 60, 60), rgb(200, 200, 200));/*rgb(40, 60, 60);*/
	position: sticky;
	top: 0px;
	box-shadow: 8px 10px 5px rgb(100, 100, 100);
	z-index: 15;
}

#navigation ul
{
	padding: 0;	
}

#navigation h1
{
	color: #111;
}

#navigation li
{
	display: inline;
}

#navigation a
{
	color: #fff;
	text-decoration: none;
	padding-right: 25px;
	font-size: 20px;
}

#navigation a:hover
{
	color: rgb(170, 170, 170);
	text-decoration: underline;
}

#overview
{
	background-color: 
	background-position: center;
	min-height: 350px;
	max-height: 400px;
	position: relative;
}

#overview h1
{
	color: rgb(45, 45, 45);
	font-size: 40px;
	text-align: center;
	padding-top: 0px;
	line-height: 0em;
}

#overview img
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#mainContent
{
	display: flex;
	padding: 3em 5%;
	flex-direction: row;
	float: left;
	width: 60%;
	flex-wrap: wrap;
}

.element
{
	width: 30%;
	text-align: center;
	background-color: #fff;
	box-shadow: 8px 10px 5px rgb(100, 100, 100);
	border-radius: 5px;
	margin-bottom: 4%;
	margin-right: 3%;
}

.element img
{
	width: 100%;
	height: 40%;
	display: block;
	margin-left: auto;
	margin-right:auto;
	object-fit: cover;
}

.element img:hover
{
	filter: blur(3px);
}

.element a
{
	color: rgb(40, 80, 60);
	text-decoration: none;
}

.element a:hover
{
	color: rgb(170, 170, 170);
	text-decoration: underline;
}

.element h3
{
	
}

.element p
{
}

.presentation
{
	width: 80%;
	background: rgb(200, 200, 200);
	font-size: 18px;
	text-align: center;
	border: 2px solid rgb(100, 100, 100);
}


.videoContainer
{
	background: rgb(0, 60, 0);
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%;
}

.videoContainer iframe
{
 	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}

#mainContentVertical
{
	margin-top: 20px;
	margin-left: 5%;
	float: left;
	width: 60%;
}

.elementVertical
{
	width: 70%;
	text-align: center;
	background-color: #fff;
	box-shadow: 8px 10px 5px rgb(100, 100, 100);
	border-radius: 5px;
}

.elementVertical img
{
	width: 100%;
	height: 40%;
	display: block;
	margin-left: auto;
	margin-right:auto;
	object-fit: cover;
}

.elementVertical img:hover
{
	filter: blur(3px);
}

.bulletinEntry
{
	float: left;
	width: 90%;
	border: 1px solid rgb(100, 100, 100);
	padding: 20px;
	margin-top: 15px;
	box-sizing: border-box;
	max-height: 20em;
}

.bulletinEntry img
{
	float: right;
	max-height: 14em;
	max-width: 14em;
}

#sidebar
{
	border: 4px rgb(150, 150, 150) solid;
	border-radius: 5px;
	right: 0;
	float: right;
	width: 25%;
	min-width: 15em;
	background: #000;
	color: #fff;
	text-align: center;
	padding: 20px 30px;
	box-sizing: border-box;
	margin-top: 20px;
	margin-right: 5%;
}

/*#sidebar img
{
	border-radius: 75%;
	border: 5px rgb(90, 90, 90) solid;
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}*/

#footer
{
	position: relative;
	bottom: 0;
	background-color: rgb(50, 50, 50);
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: calc(100vh - 94px);
}

@media(max-width:1050px)
{
	#mainContent
	{
		flex-direction: column;
		width: 100%;
		margin-right: 5%;
		margin-left: 5%;
		float: none;
	}
	.element
	{
		width: 80%;
	}
	#sidebar
	{
		width: 90%;
		margin: 30px auto;
		float:none;
	}
	#mainContentVertical
	{
		width: 100%;
		margin-right: 5%;
		margin-left: 5%;
		float: none;
	}
	.bulletinEntry
	{
		max-height: 40em;
		padding-bottom: 1em;
	}
	.bulletinEntry img
	{
		max-height: 12em;
		max-width: 12em;
	}
	#header
	{
		font-size: 10px;
	}
	#overview
	{
		min-height: 100px;
	}
	#overview h1
	{
		font-size: 14px;
	}
}
